doctype html
html
  head
    script(type='text/javascript' src='../messageFrontend.js')
    body
      ul
        each val in messages
          li= val.currencyFrom + ' ' + val.amountSell + ' exchanged to ' + val.currencyTo + ' ' + val.amountBuy + ' at ' + val.timePlaced
